{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ recipe.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{ recipe.author }} | {{ recipe.created_on }}</div>
                </header>
                <!-- Preview image figure-->
                {% if "placeholder" in post.featured_image.url %}
                <figure class="mb-4"><img class="img-fluid rounded"
                        src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                {% else %}
                <figure class="mb-4"></figure><img class="img-fluid rounded" src=" {{ recipe.image.url }}"></figure>
                {% endif %}
                <!-- Post content-->
                <section class="mb-5">
                    <p>
                        <strong>
                            {{ recipe.intro | safe }}
                        </strong>
                    </p>
                    <p>
                        {{ recipe.ingredients | safe }}
                    </p>
                    <p>
                        {{ recipe.content | safe }}
                    </p>
                </section>
            </article>

            {% endblock content %}